Repository openrewrite/rewrite-spring, pull requests merged in 2023-07, with the labels that each got.

#385 Change package org.thymeleaf.spring 5 to spring6
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
Labels: boot-3.0

#394 fix: adapt J.Modifier and J.Identifier instantiation to use the new c…
  src/main/java/org/openrewrite/java/spring/AutowiredFieldIntoConstructorParameterVisitor.java
  src/main/java/org/openrewrite/java/spring/boot2/ConvertToSecurityDslVisitor.java
  src/main/java/org/openrewrite/java/spring/boot2/MigrateConfigurationPropertiesBindingPostProcessorValidatorBeanName.java
  src/main/java/org/openrewrite/java/spring/boot2/MigrateErrorPropertiesIncludeStackTraceConstants.java
  src/main/java/org/openrewrite/java/spring/boot2/MigrateHsqlEmbeddedDatabaseConnection.java
  src/main/java/org/openrewrite/java/spring/boot2/MigrateLoggingSystemPropertyConstants.java
  src/main/java/org/openrewrite/java/spring/boot2/OutputCaptureExtension.java
  src/main/java/org/openrewrite/java/spring/framework/MigrateInstantiationAwareBeanPostProcessorAdapter.java
  src/main/java/org/openrewrite/java/spring/framework/MigrateUtf8MediaTypes.java
  src/main/java/org/openrewrite/java/spring/security5/WebSecurityConfigurerAdapter.java
Labels: bug

#396 Ony selectively apply NoRequestMappingAnnotation
  src/main/java/org/openrewrite/java/spring/NoRequestMappingAnnotation.java
  src/testWithSpringBoot_2_1/java/org/openrewrite/java/spring/NoRequestMappingAnnotationTest.java
Labels: bug, boot-2.0

#398 UseNewRequestMatchers should also replace with 5.7 on classpath
  src/main/java/org/openrewrite/java/spring/security5/UseNewRequestMatchers.java
  src/testWithSpringSecurity_5_7/java/org/openrewrite/spring/security5/UseNewSecurityMatchersTest.java
  src/testWithSpringSecurity_5_8/java/org/openrewrite/spring/security5/UseNewRequestMatchersTest.java
Labels: bug, boot-3.0, spring-security

#397 first approach of HttpClient5 migration
  build.gradle.kts
  src/main/resources/META-INF/rewrite/apache-httpclient-5.yml
  src/test/java/org/openrewrite/java/apache/httpclient5/UpgradeApacheHttpClient5Test.java
Labels: enhancement, recipe, boot-3.0
