Repository openrewrite/rewrite-spring, pull requests merged in 2023-05, with the labels that each got.

#354 Spelling
  src/main/java/org/openrewrite/java/spring/ChangeSpringPropertyValue.java
  src/main/java/org/openrewrite/java/spring/RenameBean.java
  src/main/java/org/openrewrite/java/spring/boot3/AddSetUseTrailingSlashMatch.java
  src/main/java/org/openrewrite/java/spring/boot3/MaintainTrailingSlashURLMappings.java
  src/main/java/org/openrewrite/java/spring/security5/WebSecurityConfigurerAdapter.java
  src/main/resources/META-INF/rewrite/spring-boot-20.yml
  src/testWithSpringBoot_2_1/java/org/openrewrite/java/spring/NoRepoAnnotationOnRepoInterfaceTest.java
  src/testWithSpringBoot_2_4/java/org/openrewrite/maven/spring/UpgradeExplicitSpringBootDependenciesTest.java
  src/testWithSpringSecurity_5_7/java/org/openrewrite/spring/security5/WebSecurityConfigurerAdapterTest.java
Labels: documentation

#356 extend recipe for replacing deprecated management.* properties in Spring Boot 3
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/test/java/org/openrewrite/java/spring/cloud2022/MigrateProjectTest.java
Labels: recipe, boot-3.0

#358 Regenerate property migrations
  README.md
  src/main/java/org/openrewrite/java/spring/internal/SpringBootReleases.java
  src/main/resources/META-INF/rewrite/spring-boot-21.yml
  src/main/resources/META-INF/rewrite/spring-boot-22.yml
  src/main/resources/META-INF/rewrite/spring-boot-23.yml
  src/main/resources/META-INF/rewrite/spring-boot-26.yml
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-boot-31.yml
  src/test/java/org/openrewrite/java/spring/GeneratePropertiesMigratorConfiguration.java
Labels: enhancement, recipe, boot-3.0

#362 Changed MigrateAbstractHealthIndicatorToPingHealthIndicator to target…
  src/main/resources/META-INF/rewrite/spring-boot-22.yml
Labels: bug
