Repository openrewrite/rewrite-spring, pull requests merged in 2023-08, with the labels that each got.

#400 Replace getStatusLine on HttpResponse
  src/main/java/org/openrewrite/java/apache/httpclient5/NewStatusLine.java
  src/main/resources/META-INF/rewrite/apache-httpclient-5.yml
  src/test/java/org/openrewrite/java/apache/httpclient5/UpgradeApacheHttpClient5Test.java
Labels: recipe

#402 `HttpSecurityLambdaDsl` and `ServerHttpSecurityLambdaDsl` are overly eager when running against very old Spring Security versions
  build.gradle.kts
  src/main/java/org/openrewrite/java/spring/boot2/ConvertToSecurityDslVisitor.java
  src/main/java/org/openrewrite/java/spring/boot2/HttpSecurityLambdaDsl.java
  src/main/java/org/openrewrite/java/spring/boot2/ServerHttpSecurityLambdaDsl.java
  src/testWithSpringBoot_2_1/java/org/openrewrite/java/spring/boot2/LegacyHttpSecurityTest.java
Labels: bug, spring-security

#403 AddTimeUnitArgument recipe
  src/main/java/org/openrewrite/java/apache/httpclient5/AddTimeUnitArgument.java
  src/main/java/org/openrewrite/java/apache/httpclient5/NewStatusLine.java
  src/main/java/org/openrewrite/java/apache/httpclient5/UseTimeValue.java
  src/main/java/org/openrewrite/java/apache/httpclient5/UseTimeout.java
  src/main/resources/META-INF/rewrite/apache-httpclient-5.yml
  src/test/java/org/openrewrite/java/apache/httpclient5/AddTimeUnitArgumentTest.java
  src/test/java/org/openrewrite/java/apache/httpclient5/UpgradeApacheHttpClient5Test.java
Labels: recipe

#409 removed unnecessary autoFormat
  src/main/java/org/openrewrite/java/spring/ImplicitWebAnnotationNames.java
  src/testWithSpringBoot_2_1/java/org/openrewrite/java/spring/ImplicitWebAnnotationNamesTest.java
Labels: bug

#410 removed autoFormat and replaced with manual format
  src/main/java/org/openrewrite/java/spring/ImplicitWebAnnotationNames.java
Labels: bug

#413 Upgrade `httpcore` -> `httpcore5` in the `UpgradeApacheHttpClient_5` recipe
  src/main/resources/META-INF/rewrite/apache-httpclient-5.yml
Labels: recipe

#417 Remove DefaultBatchConfigurer
  src/main/java/org/openrewrite/java/spring/batch/RemoveDefaultBatchConfigurer.java
  src/main/resources/META-INF/rewrite/spring-batch-5.0.yml
  src/testWithSpringBoot_3_0/java/org/openrewrite/java/spring/batch/RemoveDefaultBatchConfigurerTest.java
Labels: recipe, boot-3.0

#420 Migrate Hibernate as part of Spring Boot migration
  build.gradle.kts
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-boot-31.yml
Labels: enhancement, boot-3.0

#421 Moved WebSecurityConfigurerAdapter to spring-security 5.7 (new file) …
  src/main/resources/META-INF/rewrite/spring-boot-27.yml
  src/main/resources/META-INF/rewrite/spring-security-57.yml
  src/main/resources/META-INF/rewrite/spring-security-58.yml
Labels: bug, enhancement, boot-2.7, spring-security

#404 Simplify `MediaType.parse` Calls
  src/main/java/org/openrewrite/java/spring/http/SimplifyMediaTypeParseCalls.java
  src/test/java/org/openrewrite/java/spring/SimplifyMediaTypeParseCallsTest.java
Labels: recipe

#423 Update usage of list and call getItems when needed
  src/main/java/org/openrewrite/java/spring/batch/MigrateItemWriterWrite.java
  src/testWithSpringBoot_3_0/java/org/openrewrite/java/spring/batch/MigrateItemWriterWriteTest.java
Labels: bug

#422 `disable` is a terminal function
  build.gradle.kts
  src/main/java/org/openrewrite/java/spring/boot2/ConvertToSecurityDslVisitor.java
  src/testWithSpringBoot_2_4/java/org/openrewrite/java/spring/boot2/HttpSecurityLambdaDslTest.java
  src/testWithSpringBoot_2_4/java/org/openrewrite/java/spring/boot2/ServerHttpSecurityLambdaDslTest.java
Labels: bug, spring-security

#418 Chain in AuthorizeHttpRequests with spring-security-58.yml
  src/main/java/org/openrewrite/java/spring/security5/AuthorizeHttpRequests.java
  src/main/resources/META-INF/rewrite/spring-security-58.yml
  src/testWithSpringBoot_2_7/java/org/openrewrite/java/spring/security5/AuthorizeHttpRequestsTest.java
Labels: bug, boot-3.0, spring-security

#424 Convert `oauth2*` Spring Security subcomponents to lambda dsl
  src/main/java/org/openrewrite/java/spring/security6/oauth2/client/OAuth2ClientLambdaDsl.java
  src/main/java/org/openrewrite/java/spring/security6/oauth2/client/OAuth2LoginLambdaDsl.java
  src/main/java/org/openrewrite/java/spring/security6/oauth2/server/resource/OAuth2ResourceServerLambdaDsl.java
  src/main/resources/META-INF/rewrite/spring-security-60.yml
  src/main/resources/META-INF/rewrite/spring-security-61.yml
  src/testWithSpringBoot_2_4/java/org/openrewrite/java/spring/security6/oauth2/client/OAuth2ClientLambdaDslTest.java
  src/testWithSpringBoot_2_4/java/org/openrewrite/java/spring/security6/oauth2/client/OAuth2LoginLambdaDslTest.java
  src/testWithSpringBoot_2_4/java/org/openrewrite/java/spring/security6/oauth2/server/resource/OAuth2ResourceServerLambdaDslTest.java
Labels: recipe, boot-3.0, spring-security

#426 bump some versions on some tests
  src/testWithSpringBoot_2_7/java/org/openrewrite/gradle/spring/UpdateGradleTest.java
  src/testWithSpringBoot_2_7/java/org/openrewrite/java/spring/boot2/UpdateMysqlDriverArtifactIdTest.java
Labels: bug, dependencies, boot-2.7
