Repository openrewrite/rewrite-spring, pull requests merged in 2023-12, with the labels that each got.

#454 refactor: Update Gradle wrapper to 8.5
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: dependencies

#455 HttpSecurity - replace `apply` with `with`
  build.gradle.kts
  src/main/java/org/openrewrite/java/spring/boot2/ConvertToSecurityDslVisitor.java
  src/main/java/org/openrewrite/java/spring/security6/ApplyToWithLambdaDsl.java
  src/main/resources/META-INF/rewrite/spring-security-62.yml
  src/testWithSpringSecurity_6_2/java/org/openrewrite/spring/security6/.editorconfig
  src/testWithSpringSecurity_6_2/java/org/openrewrite/spring/security6/ApplyToWithLambdaDslTest.java
Labels: recipe, spring-security, boot-3.2

#458 `AddSpringProperty` now add comments to application.properties files
  src/main/java/org/openrewrite/java/spring/AddSpringProperty.java
  src/test/java/org/openrewrite/java/spring/AddSpringPropertyTest.java
  src/test/java/org/openrewrite/java/spring/cloud2022/AddLoggingPatternLevelForSleuthTest.java
Labels: enhancement

#460 Replicate ClassCastException in EnableVirtualThreads
  build.gradle.kts
  src/testWithSpringBoot_3_2/java/org/openrewrite/java/spring/boot3/.editorconfig
  src/testWithSpringBoot_3_2/java/org/openrewrite/java/spring/boot3/EnableVirtualThreadsTest.java
Labels: bug, boot-3.2

#462 Run EnableVirtualThreadsTest again
  src/testWithSpringBoot_3_2/java/org/openrewrite/java/spring/boot3/EnableVirtualThreadsTest.java
Labels: boot-3.2

#465 Refactored ConvertToSecurityDslVisitor to assemble target method type…
  src/main/java/org/openrewrite/java/spring/boot2/ConvertToSecurityDslVisitor.java
Labels: bug, spring-security
