Repository openrewrite/rewrite-spring, pull requests merged in 2023-11, with the labels that each got.

#440 Additional Spring Boot properties migrations for 3.0 & 3.2
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-boot-32.yml
  src/test/java/org/openrewrite/java/spring/internal/GeneratePropertiesMigratorConfiguration.java
Labels: boot-3.0, boot-3.2

#445 Generate property migrations for `META-INF/spring-configuration-metadata.json` too
  src/main/resources/META-INF/rewrite/spring-boot-20-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-20.yml
  src/main/resources/META-INF/rewrite/spring-boot-21-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-21.yml
  src/main/resources/META-INF/rewrite/spring-boot-22-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-22.yml
  src/main/resources/META-INF/rewrite/spring-boot-23-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-23.yml
  src/main/resources/META-INF/rewrite/spring-boot-24-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-24.yml
  src/main/resources/META-INF/rewrite/spring-boot-25-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-25.yml
  src/main/resources/META-INF/rewrite/spring-boot-26-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-26.yml
  src/main/resources/META-INF/rewrite/spring-boot-27-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-27.yml
  src/main/resources/META-INF/rewrite/spring-boot-30-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-boot-31-properties.yml
  src/main/resources/META-INF/rewrite/spring-boot-31.yml
  src/main/resources/META-INF/rewrite/spring-boot-32-properties.yml
  src/test/java/org/openrewrite/java/spring/internal/GeneratePropertiesMigratorConfiguration.java
Labels: bug, recipe, boot-3.2

#447 feat: spring-security-62.yml
  src/main/resources/META-INF/rewrite/spring-security-62.yml
Labels: recipe, spring-security, boot-3.2

#451 Fix mysql dependency in 2.5 already
  src/main/resources/META-INF/rewrite/spring-boot-25.yml
  src/main/resources/META-INF/rewrite/spring-boot-26.yml
  src/testWithSpringBoot_2_5/java/org/openrewrite/java/spring/boot2/UpdateMysqlDriverArtifactIdTest.java
Labels: bug, boot-2.5

#452 Upgrade to Spring Cloud 2023 as part of Spring Boot 3.2
  src/main/resources/META-INF/rewrite/spring-boot-32.yml
  src/main/resources/META-INF/rewrite/spring-cloud-2022.yml
  src/main/resources/META-INF/rewrite/spring-cloud-2023.yml
Labels: boot-3.2
