Repository openrewrite/rewrite-spring, pull requests merged in 2024-12, with the labels that each got.

#645 Remove BeanMethodsNotPublic from SpringBoot2BestPractices (again)
  src/main/resources/META-INF/rewrite/best-practices.yml
  src/main/resources/META-INF/rewrite/spring-boot-20.yml
Labels: boot-2.0

#646 Add ReplaceMockBeanAndSpyBean Recipe
  src/main/resources/META-INF/rewrite/replace-mock-and-spybean.yml
  src/test/java/org/openrewrite/java/spring/boot3/ReplaceMockBeanAndSpyBeanTest.java
Labels: boot-3.4

#652 Keep annotations for merged classes for WebSecurityConfigurerAdapter recipe (Spring Security 5.4)
  src/main/java/org/openrewrite/java/spring/security5/WebSecurityConfigurerAdapter.java
  src/testWithSpringSecurity_5_7/java/org/openrewrite/spring/security5/WebSecurityConfigurerAdapterTest.java
Labels: bug, recipe, spring-security
