Repository openrewrite/rewrite-spring, pull requests merged in 2024-08, with the labels that each got.

#558 Include Spring Batch in Spring Boot 3 upgrade
  src/main/java/org/openrewrite/java/spring/batch/MigrateItemWriterWrite.java
  src/main/java/org/openrewrite/java/spring/batch/ReplaceSupportClassWithItsInterface.java
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
Labels: boot-3.0

#559 Remove `SimpleClientHttpRequestFactory.setOutputStreaming(boolean)` in SF 6.1
  src/main/resources/META-INF/rewrite/spring-framework-61.yml
Labels: recipe, boot-3.3

#284 Spring Batch recipe for MigrateStepBuilderFactory
  src/main/java/org/openrewrite/java/spring/batch/MigrateStepBuilderFactory.java
  src/main/resources/META-INF/rewrite/spring-batch-5.0.yml
  src/testWithSpringBoot_3_0/java/org/openrewrite/java/spring/batch/MigrateStepBuilderFactoryTest.java
Labels: recipe

#565 Upgrade Micrometer 1.13 as part of Spring Boot 3.3
  build.gradle.kts
  src/main/resources/META-INF/rewrite/spring-boot-33.yml
Labels: recipe, boot-3.3

#566 Include Apache Httpclient4 to 5 in Spring Framework 6 upgrade
  build.gradle.kts
  src/main/resources/META-INF/rewrite/spring-framework-60.yml
Labels: recipe, boot-3.0

#570 Include Spring Doc upgrade with Spring Boot 3
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
Labels: boot-3.0

#571 JUnit4 SpringClassRule and SpringMethodRule to SpringExtension
  src/main/java/org/openrewrite/java/spring/test/SpringRulesToJUnitExtension.java
  src/main/java/org/openrewrite/java/spring/test/package-info.java
  src/main/resources/META-INF/rewrite/spring-boot-24.yml
  src/test/java/org/openrewrite/java/spring/test/SpringRulesToJUnitExtensionTest.java
Labels: recipe, boot-2.4

#572 Migrate `HttpComponentsClientHttpRequestFactory.setReadTimeout` to `SocketConfig.setSoTimeout`
  build.gradle.kts
  src/main/java/org/openrewrite/java/spring/framework/HttpComponentsClientHttpRequestFactoryReadTimeout.java
  src/main/resources/META-INF/rewrite/classpath/httpclient5-5.1.4.jar
  src/main/resources/META-INF/rewrite/classpath/httpcore5-5.1.5.jar
  src/main/resources/META-INF/rewrite/spring-framework-60.yml
  src/test/java/org/openrewrite/java/spring/framework/HttpComponentsClientHttpRequestFactoryReadTimeoutTest.java
Labels: recipe, boot-3.0

#578 Spring SecurityFilterChain related recipes remove antmatchers rules
  src/main/java/org/openrewrite/java/spring/security5/UseNewRequestMatchers.java
  src/main/resources/META-INF/rewrite/spring-security-58.yml
  src/main/resources/META-INF/rewrite/spring-security-61.yml
  src/testWithSpringSecurity_5_8/java/org/openrewrite/spring/security5/UseNewRequestMatchersTest.java
Labels: bug, spring-security

#579 rearranging springdoc/openapi recipes. individual springdoc upgrades …
  src/main/resources/META-INF/rewrite/spring-boot-22.yml
  src/main/resources/META-INF/rewrite/spring-boot-23.yml
  src/main/resources/META-INF/rewrite/spring-boot-26.yml
  src/main/resources/META-INF/rewrite/spring-boot-27.yml
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-boot-31.yml
  src/main/resources/META-INF/rewrite/spring-boot-32.yml
  src/main/resources/META-INF/rewrite/spring-boot-33.yml
  src/main/resources/META-INF/rewrite/springdoc.yml
  src/test/java/org/openrewrite/java/springdoc/UpgradeSpringDoc2Test.java
Labels: enhancement, recipe, boot-2.6, boot-3.0
