Repository openrewrite/rewrite-spring, pull requests merged in 2024-05, with the labels that each got.

#517 Add property change from management.metrics.export.atlas.aggrConfig to management.atlas.metrics.export.aggrConfig in UpgradeSpringBoot_3_0 recipe
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
Labels: recipe, boot-3.0

#520 Update spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
Labels: bug, boot-3.0

#522 Spring Framework 6.0 recipe with migration for Spring `Assert`
  src/main/resources/META-INF/rewrite/spring-boot-30.yml
  src/main/resources/META-INF/rewrite/spring-framework-60.yml
  src/test/java/org/openrewrite/java/spring/framework/MigrateSpringAssertTest.java
Labels: recipe, boot-3.0

#528 Add recipe to simplify WebTestClient methods
  build.gradle.kts
  src/main/java/org/openrewrite/java/spring/http/SimplifyWebTestClientCalls.java
  src/main/resources/META-INF/rewrite/classpath/spring-test-6.2.0-M2.jar
  src/main/resources/META-INF/rewrite/spring-boot-33.yml
  src/test/java/org/openrewrite/java/spring/http/SimplifyMediaTypeParseCallsTest.java
  src/test/java/org/openrewrite/java/spring/http/SimplifyWebTestClientCallsTest.java
Labels: recipe

#518 Create spring 2.7 data YML file with getReferenceById changes
  src/main/resources/META-INF/rewrite/spring-boot-27.yml
  src/main/resources/META-INF/rewrite/spring-data-25.yml
  src/main/resources/META-INF/rewrite/spring-data-27.yml
  src/testWithSpringBoot_2_7/java/org/openrewrite/java/spring/data/UseJpaRepositoryGetReferenceByIdTest.java
Labels: boot-2.7
