Repository openrewrite/rewrite-spring, pull requests merged in 2024-01, with the labels that each got.

#471 Add Spring Boot 3 best practices
  src/main/resources/META-INF/rewrite/spring-boot-32.yml
Labels: recipe, boot-3.2

#473 Replace OutputCapture with OutputCaptureRule in 2.2
  src/main/resources/META-INF/rewrite/spring-boot-22.yml
Labels: recipe, boot-2.2

#476 Remove `JUnit5BestPractices` from `RemoveObsoleteRunners`
  src/main/resources/META-INF/rewrite/spring-boot-24.yml
  src/testWithSpringBoot_2_3/java/org/openrewrite/java/spring/boot2/SpringBoot2JUnit4to5MigrationTest.java
Labels: enhancement, boot-2.4

#480 Apache HttpClient5 recipes should load classpath from resources
  build.gradle.kts
  src/main/java/org/openrewrite/java/apache/httpclient5/AddTimeUnitArgument.java
  src/main/java/org/openrewrite/java/apache/httpclient5/NewStatusLine.java
  src/test/java/org/openrewrite/java/apache/httpclient5/CookieConstantsTest.java
  src/testWithSpringBoot_1_5/java/org/openrewrite/java/spring/NoAutowiredOnConstructorTest.java
Labels: bug, dependencies, boot-3.0

#482 Periodically generate Spring Boot property migration recipes
  .github/workflows/properties.yml
  build.gradle.kts
  src/test/java/org/openrewrite/java/spring/internal/GeneratePropertiesMigratorConfiguration.java
Labels: boot-3.2
