Repository openrewrite/rewrite-spring, pull requests merged in 2024-06, with the labels that each got.

#538 Relocate Launcher classes renamed in Spring Boot 3.2
  src/main/resources/META-INF/rewrite/spring-boot-32.yml
Labels: recipe, boot-3.2

#485 Boot 3 upgrade doesn't add XML Bind dependency
  build.gradle.kts
  src/testWithSpringBoot_2_7/java/org/openrewrite/java/spring/boot2/Boot3UpgradeTest.java
Labels: bug

#544 Remove classifier on dependency added migrating LocalServerPort
  src/main/java/org/openrewrite/java/spring/boot2/MigrateLocalServerPortAnnotation.java
  src/testWithSpringBoot_1_5/java/org/openrewrite/java/spring/boot2/MigrateLocalServerPortAnnotationTest.java
Labels: bug, boot-2.0
