Repository openrewrite/rewrite-spring, pull requests merged in 2025-01, with the labels that each got.

#661 Recipe to migrate `@RequestMapping` over a `FeignClient` interface to `@FeignClient` path attribute
  src/main/java/org/openrewrite/java/spring/cloud2022/MigrateRequestMappingOnFeignClient.java
  src/main/resources/META-INF/rewrite/classpath/spring-cloud-openfeign-core-4.1.0.jar
  src/main/resources/META-INF/rewrite/spring-cloud-2022.yml
  src/test/java/org/openrewrite/java/spring/cloud2022/MigrateRequestMappingOnFeignClientTest.java
Labels: recipe

#663 SimplifyWebTestClientCalls does not work on Kotlin code
  build.gradle.kts
  src/main/java/org/openrewrite/java/spring/http/SimplifyWebTestClientCalls.java
  src/test/java/org/openrewrite/java/spring/http/SimplifyWebTestClientCallsTest.java
Labels: enhancement, recipe

#667 Addressing deprecations in RestTemplateBuilder
  build.gradle.kts
  src/main/resources/META-INF/rewrite/replace-methods-rest-template-builder.yml
  src/testWithSpringBoot_3_4/java/org/openrewrite/java/spring/boot3/ReplaceMockBeanAndSpyBeanTest.java
  src/testWithSpringBoot_3_4/java/org/openrewrite/java/spring/boot3/ReplaceRestTemplateBuilderMethodsTest.java
Labels: recipe, boot-3.4

#670 Drop reactive streams recipes
  build.gradle.kts
  src/main/resources/META-INF/rewrite/spring-boot-31.yml
Labels: boot-3.1

#671 Fix transitivity handling for `commons-codec:commons-codec` in Spring Boot Update 3.2
  src/main/resources/META-INF/rewrite/spring-boot-32.yml
Labels: enhancement, boot-3.2
